<!DOCTYPE HTML>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1'/>
    <meta charset="UTF-8">
    <title>Application Controller</title>
    <link rel="stylesheet" type="text/css" href="./controller.css">
  </head>
  <body>
    <div class="card">
      <div class="headder">LED Control</div>
      <div class="center">
        <button id="white" class="btn white" onclick="changeColor('white')" disabled/>white</button><br>
        <button id="lightBlue" class="btn lightBlue" onclick="changeColor('lightBlue')" disabled/>light blue</button><br>
        <button id="blue" class="btn blue" onclick="changeColor('blue')" disabled/>blue</button><br>
        <button id="lightGreen" class="btn lightGreen" onclick="changeColor('lightGreen')" disabled/>light green</button><br>
        <button id="green" class="btn green" onclick="changeColor('green')" disabled/>green</button><br>
        <button id="red" class="btn red" onclick="changeColor('red')" disabled/>red</button><br>
        <button id="pink" class="btn pink" onclick="changeColor('pink')" disabled/>pink</button><br>
        <br>
        <button id="blink" class="btn blink" onclick="blinkLED()" disabled/>Blink It!</button><br>
        <br>
      </div>
    </div>

    <script src="http://lightitup.space:{{port}}/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var person = prompt("What's your name?");
      var name;
      if (person != null) {
          name = person;
      }
      // connect to local server
      var socket = io.connect('http://lightitup.space:{{port}}');

      // socket.ip connections check
      socket.on('connect', function () {
        var btn = document.getElementsByClassName("btn");
        for (var i = 0; i < btn.length; i++) {
          btn[i].disabled = false;
        }
      });

      socket.on('disconnect', function (client) {
        var btn = document.getElementsByClassName("btn");
        for (var i = 0; i < btn.length; i++) {
          btn[i].disabled = true;
        }
      });

      socket.on('action', function (data) {
        if(data.color){
          var prev = document.getElementsByClassName('selected');
          for (var i = 0; i < prev.length; i++) {
            prev[i].className = prev[i].className.replace('selected','')
          }
          var el = document.getElementById(data.color)
          el.className = el.className + " selected";
        }
      });

      socket.on('blink', function (data) {
        var btn = document.getElementById("blink");
        console.log(data)
        if(data.state){
          btn.disabled = false
        }else{
          btn.disabled = true
        }
      })

      function changeColor(color) {
        socket.emit('action', {name:name, color:color});
      }
      function blinkLED(color) {
        socket.emit('action', {name:name, blink:true});
      }
    </script>
  </body>
</html>