<!DOCTYPE HTML>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1'/>
    <meta charset="UTF-8">
    <title>Application Controller</title>
    <link rel="stylesheet" type="text/css" href="./controller.css">
  </head>
  <body>
    <div class="card">
      <div class="headder">LED Control</div>
      <div class="center">
        <button id="lightBlue" class="btn lightBlue" onclick="changeColor('#ff0000')"/>light blue</button><br>
        <button id="blue" class="btn blue" onclick="changeColor('#ffff00')"/>blue</button><br>
        <button id="orange" class="btn orange" onclick="changeColor('#0000ff')"/>orange</button><br>
        <button id="green" class="btn green" onclick="changeColor('#ff00ff')"/>green</button><br>

        <button id="red" class="btn red" onclick="changeColor('#00ffff')"/>red</button><br>

        <button id="pink" class="btn pink" onclick="changeColor('#00ff00')"/>pink</button><br>
        <br>
        <br>
      </div>
    </div>

    <script src="http://lightitup.space:{{port}}/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      // connect to local server
      var socket = io.connect('http://lightitup.space:{{port}}');

      function changeColor(color) {
        socket.emit('action', {color:color});
      }
    </script>
  </body>
</html>